h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #ff0000;
    user-select: none;
}

body {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;    
    flex-direction: column;
}



.游戏桌面{
    border-style: outset;
    border-width: 5px;
    border-color:#8a8888;
    border-radius: 10px;  
    background-color: #eeeeee;
}

.Gezi{
    border-style: outset;
    border-width: 4px;
    border-color: #d4d3d3;
    background-color: #c2c2c2;
    width: 1em;
    height: 1em;
    text-align: center;
    user-select: none;

}

.clear{
    border-style: solid;
    border-color: #e0dddd;
    background-color: #e0dddd;
}