h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #ff0000;
    user-select: none;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;    
    flex-direction: column;
}

p{
    margin: 0;
    margin-top: 1em;
    user-select: none;
}

.游戏桌面{
    border-style: outset;
    border-width: 5px;
    border-color:#8a8888;
    border-radius: 10px;  
    background-color: #eeeeee;
}

.Gezi{
    border-style: outset;
    border-width: 4px;
    border-color: #d4d3d3;
    background-color: #c2c2c2;
    width: 1em;
    height: 1em;
    text-align: center;
    user-select: none;

}

.clear{
    border-style: solid;
    border-color: #e0dddd;
    background-color: #e0dddd;
}

.Gezi.雷.explode{
    background-color:red;
}

.Gezi.雷{
    background-color: sandybrown;
}

.Gezi.雷.成功{
    background-color: seagreen;
}


.难度{
    height: 1em;
    text-decoration: underline;
    padding: 20px 10px;
    user-select: none;
    
}

.初始化{
    user-select: none;
    margin-top: 0.5em;
    background-color: #f1baba;
    border-radius: 9px;
}

.标识{
    background-color: blue;
}
